<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="brew">
        <div class="brew__meta">
          <a href="/user/{{ brew.brewer.user.username }}">
            {{ brew.brewer.user.username }}
          </a>
          <br/>
          <a href="/brewery/{{ brew.brewer.brewery.id }}" ng-if="brew.brewer.brewery">
            {{ brew.brewer.brewery.name }}
          </a>
        </div>

        <div class="brew__content">
          <div ng-repeat="img in brew.images" class="brew__image">
            <img src="{{img.image}}" class="absolute-centered"/>
          </div>
          <h2><a href="/brews/{{brew.id}}">{{brew.name}}</a></h2>
          <p><b>Style:</b> {{brew.style}}</p>
          <p><b>ABV:</b> {{brew.abv}}%</p>
          <p><b>Type:</b> {{brew.type}}</p>
          <p>{{brew.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
