<brews brews="vm.brews" ng-show="vm.brews && vm.brews.length"></brews>

<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new"
  id="add-button"
  href="javascript:void(0)"
  ng-show="vm.isAuthenticated"
  ng-click="vm.selectingAction = true"></a>
<div id="add-menu" ng-show="vm.selectingAction" ng-blur="vm.selectingAction=false">
  <div class="index-action add-new-tasting">New Tasting
    <a class="btn btn-primary btn-fab btn-raised mdi-content-add"
      href="javascript:void(0)"
      ng-show="vm.isAuthenticated"
      ng-dialog="/static/templates/tastings/new-tasting.html"
      ng-dialog-controller="NewTastingController as vm"></a>
  </div>
  <div class="index-action add-new-brew">New Brew
    <a class="btn btn-primary btn-fab btn-raised mdi-content-add"
      href="javascript:void(0)"
      ng-show="vm.isAuthenticated"
      ng-dialog="/static/templates/brews/new-brew.html"
      ng-dialog-controller="NewBrewController as vm"></a>
  </div>
</div>
